body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.task-input {
    margin: 20px;
}

input {
    padding: 8px;
    width: 220px;
}

button {
    padding: 8px 12px;
    margin-left: 5px;
    cursor: pointer;
    border: none;
    background-color: #4c9daf;
    color: white;
    border-radius: 4px;
}

button:hover {
    background-color: #aee7b1;
}

.board {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.column {
    width: 30%;
    background-color: white;
    padding: 10px;
    min-height: 350px;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
}

.column h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

/* Task card */
.task {
    background-color: #e0e0e0;
    margin: 10px 0;
    padding: 8px;
    border-radius: 4px;
    cursor: move;
}

/* Completed task */
.completed-task {
    background-color: #b2fab4;
}

/* Message */
#message {
    margin-top: 15px;
    color: rgb(0, 128, 23);
    font-weight: bold;
}
