body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    text-align: center;
}

h1 {
    background-color: #706e70;
    color: white;
    padding: 15px;
}

.container {
    width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* Form Inputs */
form input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 15px;
}

/* Register Button */
form button {
    padding: 10px 25px;
    background-color: #308447;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;   /* Rounded */
    font-size: 15px;
}

form button:hover {
    background-color: #588422;
}

/* Table Styling */
table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 14px;
}

table th {
    background-color: #eee;
}

/* Delete Button */
.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 15px;   /* Rounded */
}

/* Clear All Button */
.clear-btn {
    margin-top: 15px;
    padding: 8px 18px;
    background-color: rgb(165, 25, 25);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;   /* Rounded */
    font-size: 14px;
}

/* Error Message */
#error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}
