body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #8fc3e6, #d7efed);
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container {
  background: white;
  width: 1000px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.3);
}

h2, h3 {
  text-align: center;
}

form {
  display: grid;
  gap: 10px;
  margin: 20px 0;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

input:focus {
  border-color: #2db3f6;
  outline: none;
}

.btn-center {
  text-align: center;
}

button {
  padding: 8px 18px;
  background: #1aa5dc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #2c7a82;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background: #f4fff9;
}

.low-stock {
  background-color: #ffe5e5;
  color: #b30000;
  font-weight: 600;
}

.low-stock td {
  border-color: #ffcccc;
}

.success {
  color: green;
  font-weight: bold;
  text-align: center;
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
}
